<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Diagnostics.Tracing.EventRegister" version="1.0.18" targetFramework="net451" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource" version="1.0.18" targetFramework="net451" />
  <package id="Microsoft.Diagnostics.Tracing.TraceEvent" version="1.0.13" targetFramework="net451" />
</packages>